.Bulb {
  grid-area: bulb;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  padding: 16px;

  > h1 {
      margin: 0;
      text-align: justify;
  }

  img {
    box-sizing: border-box;
    height: 208px;
    width: 139px;
  }

  p {
    color: black;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
  }
}
