.App {
  align-items: center;
  background-color: #f5f5f5;
  color: black;
  display: grid;
  grid-template-areas:
    "sidebar gauge bulb"
    "sidebar main donut"
    "sidebar footer footer";
  grid-template-columns: 250px 1fr 450px;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 100vh;
  text-align: center;

  > .main {
    grid-area: main;
    padding: 1rem;
    border: 2px solid black;
  }
}
