.App {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

img {
  box-sizing: border-box;
  height: 208px;
  width: 139px;
}

p {
  color: black;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
}
