.App {
  align-items: center;
  background-color: white;
  color: black;
  display: grid;
  grid-template-areas:
    "sidebar gauge bulb"
    "sidebar main donus";
  min-height: 100vh;
  text-align: center;

  > .sidebar {
    grid-area: sidebar;
    padding: 1rem;
    border: 2px solid red;
  }

  > .gauge {
    grid-area: gauge;
    padding: 1rem;
    border: 2px solid blue;
  }

  > .bulb {
    grid-area: bulb;
    padding: 1rem;
    border: 2px solid green;
  }

  > .main {
    grid-area: main;
    padding: 1rem;
    border: 2px solid black;
  }

  > .donus {
    grid-area: donus;
    padding: 1rem;
    border: 2px solid brown;
  }
}

img {
  box-sizing: border-box;
  height: 208px;
  width: 139px;
}

p {
  color: black;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
}
