.App {
  align-items: center;
  background-color: white;
  color: black;
  display: grid;
  grid-template-areas:
    "sidebar gauge bulb"
    "sidebar main donus";
  grid-template-columns: 250px 1fr 400px;
  min-height: 100vh;
  text-align: center;

  > .gauge {
    grid-area: gauge;
    padding: 1rem;
    border: 2px solid blue;
  }

  > .main {
    grid-area: main;
    padding: 1rem;
    border: 2px solid black;
  }

  > .donus {
    grid-area: donus;
    padding: 1rem;
    border: 2px solid brown;
  }
}
