.Gauge {
  grid-area: gauge;
  border: 2px solid blue;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;

  > h1 {
    margin: 0;
    text-align: justify;
  }

  > .gauge-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
